<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="text-center thead-light">
            <th>번호</th>
            <th>제품코드</th>
            <th>제품명</th>
            <th>단가</th>
            <th>할인율</th>
            <th width="200" height="50">주요기능</th>
            <th width="120" height="50" align="center" valign="top" style="padding-top:15px;">이미지 유무</th>
            <th>작성자</th>
        </tr>
        ...
        <td width="120" height="50" align="center" valign="top" style="padding-top:15px;">
            {% if product.imgfile %}
            <span class="badge badge-secondary py-1">
                ◯
            </span>
            {% else %}
            <span class="badge badge-warning py-1">
                ✕
            </span>
            {% endif %}
        </td>